@import "mixins";
@import "vars";
@import "libs";
@import "fonts";

html {
  font-size: 16px;
  line-height: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

section {
  position: relative;
}

input,
select,
button {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.clearfix {
  &:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both;
  }
}

//cтили проекта
.wrapper {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  position: relative;

  // overflow-x: hidden;
}

// Общие стили
@import 'common_styles.scss';

// МОДУЛИ
// Стили шапки
@import 'modules/_header.scss';
// Стили футера
@import 'modules/footer.scss';
// Стили меню
@import 'modules/menu.scss';
// СТРАНИЦЫ
// Стили контента/страниц
@import 'pages/index.scss';
//


